{% extends "_base.html" %}
{% block title %}LinkID · Authorize{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="cardx p-4">
      <h4 class="mb-2">Authorize client</h4>
      <div class="text-muted mb-3 mono">User: {{ user }}</div>

      <div class="cardx p-3 mono">
        Request:
        <div class="mt-2">{{ qs }}</div>
      </div>

      <div class="d-flex gap-2 mt-3">
        <a class="btn btn-primary" href="http://id.{{domain}}/oauth/authorize?{{ qs }}&approve=1">Approve</a>
        <a class="btn btn-outline-light" href="http://id.{{domain}}/">Cancel</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
