services:
  proxy:
    image: nginx:1.27-alpine
    container_name: apv_leak_lore_proxy
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - store
      - api
      - auth_user
      - auth_admin
      - prod_handler
    networks:
      - apvnet

  store:
    build: ./store
    container_name: apv_leak_lore_store
    environment:
      - APP_DOMAIN=leaklore.local
      - API_BASE=http://api.leaklore.local
      - AUTH_USER_BASE=http://auth-user.leaklore.local
    networks:
      - apvnet

  api:
    build: ./api
    container_name: apv_leak_lore_api
    networks:
      - apvnet

  auth_user:
    build: ./auth_user
    container_name: apv_leak_lore_auth_user
    networks:
      - apvnet

  auth_admin:
    build: ./auth_admin
    container_name: apv_leak_lore_auth_admin
    networks:
      - apvnet

  prod_handler:
    build: ./prod_handler
    container_name: apv_leak_lore_prod_handler
    networks:
      - apvnet

networks:
  apvnet:
